body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.myTestDBButton {
    background:url(./images/testdb.jpg) no-repeat;
    cursor:pointer;
    width: 20%;
    height: 10%
    border: none;
    background-size:10%;
    background-position: Left;
  
}
.myTestDBButton:Hover {
   background-color: Yellow;
}
